extends layout

block content
  .container.col-sm-offset-4.col-sm-4(ng-app='formApp')
    .page-header
      h1= title
      p Welcome to #{title}

    form#signup-form(ng-controller='formController')
      .form-views(ui-view)


