body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

button,
input {
  margin: 10px 0 10px 0;
}

.page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eeeeee;
}

pre {
  float: left;
  margin: 10px 0 10px 0;
  width: 100%;
}